@charset "UTF-8";
/* Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff"); }
/* Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff"); }
/* Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff"); }
html, body {
  margin: 0;
  padding: 0;
  font-family: "San Francisco", "Helvetica Neue", sans-serif;
  font-size: 15px; }

@media (min-width: 768px) {
  body {
    width: 100%; } }

p {
  margin: 0;
  color: #313131;
  font-weight: 400;
  word-wrap: break-word; }

a {
  transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
  -webkit-transition: border 0.1s linear, color 0.1s linear, background-color 0.1s linear;
  color: #313131;
  background-color: transparent;
  text-decoration: none;
  white-space: nowrap; }

h1 {
  font-size: 28px;
  font-weight: 700; }

h2 {
  font-size: 18px;
  font-weight: 700; }

#tag, .info__tag, .main__tag {
  margin: 0 0 20px 0;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase; }
  @media (min-width: 1024px) {
    #tag, .info__tag, .main__tag {
      margin: 5px 30px 0 0; } }

#fadeUp-animation, .info-footer__kitchener, .info-footer__social-icon, .info-footer__social-icon--dribbble, .info-footer__social-icon--linkedin, .info-footer__social-icon--instagram, .info-footer__social-icon--github, .info-footer__social-icon--twitter, .main__container-about, .main__container-projects, .main__container-clients, .main__container-experience, .main__container-resume, .main__resume {
  opacity: 0;
  animation: fadeUp ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.5s; }

#grow {
  -ms-transform: scale(1.2, 1.2);
  -webkit-transform: scale(1.2, 1.2);
  transform: scale(1.2, 1.2); }

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px); }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px); }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px); }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px); }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }
.wobble, .main__project-title:after, .main__resume:after {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }
  .wobble:hover, .main__project-title:hover:after, .main__resume:hover:after, .wobble:focus, .main__project-title:focus:after, .main__resume:focus:after, .wobble:active, .main__project-title:active:after, .main__resume:active:after {
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1; }

/* Fade In Animation */
@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
/* Fade In Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
.opl {
  position: relative;
  top: 20px;
  left: 0px;
  z-index: 99999;
  transition: 0.3s opacity ease; }
  .opl:hover {
    opacity: 0.8; }

.opl a {
  width: 73px;
  height: 56px;
  text-indent: -9999px;
  display: block;
  background: url("https://s3.amazonaws.com/onepagelove/one-page-love-award-left.png") no-repeat; }

.container-info {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 490px;
  background-color: #62e46b; }
  @media (min-width: 768px) {
    .container-info {
      float: left;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%; } }

.container-info-color {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 123px;
  background-color: #000000; }
  @media (min-width: 192px) {
    .container-info-color {
      float: left;
      position: fixed;
      left: 0;
      top: 0;
      height: 100%;
      width: 50%; } }

.container-main {
  display: inline-block;
  padding: 20px; }
  @media (min-width: 768px) {
    .container-main {
      float: right;
      position: fixed;
      top: 0;
      right: 0;
      height: 100%;
      width: 45%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-x: hidden; } }

.info-main {
  opacity: 0;
  width: 100%;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 0.3s;
  animation-delay: 0.3s; }
  @media (min-width: 768px) {
    .info-main {
      margin: 0;
      position: relative;
      top: 50%;
      transform: translateY(-60%); } }
.info__headshot, .info__headshot-img {
  display: block;
  margin: auto;
  width: 170px;
  height: 170px;
  border-radius: 200px;
  box-shadow: 0 5px 10px #1a9922; }
.info__tag {
  display: block;
  margin: 30px auto auto auto;
  opacity: 0.6;
  color: white;
  text-align: center; }
.info__elevator-text {
  display: block;
  margin: 10px auto auto auto;
  padding: 0 20px;
  max-width: 460px;
  color: white;
  font-size: 22px;
  text-align: center; }
  @media (min-width: 420px) {
    .info__elevator-text {
      font-size: 28px; } }
  @media (min-width: 1024px) {
    .info__elevator-text {
      max-width: 550px;
      padding: 0 40px;
      font-size: 40px; } }
  .info__elevator-text-link {
    padding: 0 4px 2px 4px;
    color: white;
    border-bottom: 2px solid #62e46b;
    text-decoration: none;
    word-wrap: break-word;
    white-space: initial;
    transition: background-color 0.3s, border-color 0.3s; }
    .info__elevator-text-link:hover {
      background-color: #0A4DD9;
      border-color: #62e46b; }
.info__button, .info__button--dark {
  display: block;
  position: relative;
  width: 200px;
  margin: 30px auto auto auto;
  padding: 11px 24px;
  color: #62e46b;
  background: white;
  border-color: #62e46b;
  border-radius: 3px;
  border-style: solid;
  border-width: 2px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none; }
  .info__button:after, .info__button--dark:after {
    float: right;
    content: "";
    font-family: "FontAwesome";
    font-size: 12px; }
  .info__button:hover, .info__button--dark:hover {
    color: white;
    background-color: #62e46b; }
  @media (min-width: 768px) {
    .info__button, .info__button--dark {
      margin: 40px auto auto auto; } }
  .info__button--dark {
    color: white;
    background: #62e46b;
    border-color: white; }
    .info__button--dark:hover {
      color: #62e46b;
      background-color: white; }
    @media (min-width: 768px) {
      .info__button--dark {
        margin: 40px auto auto auto; } }
.info-footer__kitchener {
  animation-delay: 1.2s;
  position: absolute;
  left: 20px;
  bottom: 20px;
  height: 27px; }
  @media (max-width: 768px) {
    .info-footer__kitchener {
      animation-delay: 0.6s; } }
  .info-footer__kitchener-img {
    float: left; }
  .info-footer__kitchener-text {
    float: left;
    margin: 0 0 0 10px;
    padding-top: 7px;
    font-size: 12px;
    color: white;
    transition: 0.3s opacity ease;
    opacity: 0.6; }
    .info-footer__kitchener-text:hover {
      opacity: 1; }
.info-footer__social {
  position: absolute;
  right: 20px;
  bottom: 20px;
  height: 27px; }
  .info-footer__social-icon, .info-footer__social-icon--dribbble, .info-footer__social-icon--linkedin, .info-footer__social-icon--instagram, .info-footer__social-icon--github, .info-footer__social-icon--twitter {
    float: right;
    margin-left: 10px;
    padding-top: 4px;
    color: white;
    text-decoration: none;
    float: right;
    transition: 0.3s color ease; }
    .info-footer__social-icon:hover, .info-footer__social-icon--dribbble:hover, .info-footer__social-icon--linkedin:hover, .info-footer__social-icon--instagram:hover, .info-footer__social-icon--github:hover, .info-footer__social-icon--twitter:hover {
      color: #62e46b; }
    .info-footer__social-icon--dribbble {
      animation-delay: 1.2s; }
      @media (max-width: 768px) {
        .info-footer__social-icon--dribbble {
          animation-delay: 0.6s; } }
    .info-footer__social-icon--linkedin {
      animation-delay: 1.4s; }
      @media (max-width: 768px) {
        .info-footer__social-icon--linkedin {
          animation-delay: 0.8s; } }
    .info-footer__social-icon--instagram {
      animation-delay: 1.6s; }
      @media (max-width: 768px) {
        .info-footer__social-icon--instagram {
          animation-delay: 1s; } }
    .info-footer__social-icon--github {
      animation-delay: 1.8s; }
      @media (max-width: 768px) {
        .info-footer__social-icon--github {
          animation-delay: 1.2s; } }
    .info-footer__social-icon--twitter {
      animation-delay: 2s; }
      @media (max-width: 768px) {
        .info-footer__social-icon--twitter {
          animation-delay: 1.4s; } }

.main__container, .main__container-about, .main__container-projects, .main__container-clients, .main__container-experience, .main__container-resume {
  clear: both;
  display: block;
  margin: 40px 0 0 0;
  overflow: auto; }
  .main__container-about {
    animation-delay: 0.6s; }
    @media (max-width: 768px) {
      .main__container-about {
        animation-delay: 1s; } }
  .main__container-projects {
    animation-delay: 0.8s; }
    @media (max-width: 768px) {
      .main__container-projects {
        animation-delay: 1.2s; } }
  .main__container-clients {
    animation-delay: 1s; }
    @media (max-width: 768px) {
      .main__container-clients {
        animation-delay: 1.4s; } }
  .main__container-experience {
    animation-delay: 1.2s; }
    @media (max-width: 768px) {
      .main__container-experience {
        animation-delay: 1.6s; } }
  .main__container-resume {
    margin-bottom: 40px;
    animation-delay: 1.4s; }
    @media (max-width: 768px) {
      .main__container-resume {
        animation-delay: 1.8s; } }
    @media (min-width: 768px) {
      .main__container-resume {
        margin-bottom: 80px; } }
.main__tag {
  color: #62e46b; }
  @media (min-width: 1024px) {
    .main__tag {
      clear: both;
      float: left;
      width: 80px;
      margin-right: 30px; } }
.main__copy {
  line-height: 26px; }
  @media (min-width: 1024px) {
    .main__copy {
      float: left;
      width: 75%;
      max-width: 500px; } }
  .main__copy a {
    padding: 0 4px 2px 4px;
    border-bottom: 2px solid #62e46b;
    font-weight: 400;
    transition: background-color 0.3s, border-color 0.3s; }
    .main__copy a:hover {
      background-color: #E9F0FF;
      border-color: #62e46b; }
.main__project, .main__project--first {
  margin-bottom: 20px;
  width: 75%; }
  @media (min-width: 1024px) {
    .main__project, .main__project--first {
      float: left;
      max-width: 500px;
      margin-left: 110px; } }
  .main__project:last-child, .main__project--first:last-child {
    margin-bottom: 0; }
  .main__project--first {
    margin-left: 0; }
  .main__project-title, .main__resume {
    margin: 20px 0 10px 0;
    transition: 0.3s opacity ease; }
    .main__project-title:hover, .main__resume:hover {
      opacity: 0.6; }
    .main__project-title:after, .main__resume:after {
      position: relative;
      bottom: 0.2ex;
      margin-left: 20px;
      content: "";
      color: #62e46b;
      font-family: "FontAwesome";
      font-size: 12px; }
    .main__project-title:first-child, .main__resume:first-child {
      margin-top: 3px; }
  .main__project-description {
    margin: 0;
    line-height: 26px; }
.main__list {
  clear: both;
  padding: 0;
  list-style-type: none; }
  @media (min-width: 1024px) {
    .main__list {
      float: left;
      margin: 20px 0 0 110px; } }
  .main__list-item {
    margin-bottom: 10px;
    font-weight: 700; }
    .main__list-item:before {
      position: relative;
      bottom: 0.2ex;
      margin-right: 20px;
      content: "";
      color: #62e46b;
      font-family: "FontAwesome";
      font-size: 16px; }
.main__experience {
  margin-bottom: 20px;
  height: 40px; }
  @media (min-width: 1024px) {
    .main__experience {
      max-width: 500px;
      margin-left: 110px; }
      .main__experience:first-of-type {
        margin-top: 3px; } }
  .main__experience-year {
    float: right;
    font-weight: 700;
    line-height: 26px; }
  .main__experience-info {
    float: left; }
    .main__experience-info-company {
      display: block;
      font-weight: 700;
      line-height: 26px; }
    .main__experience-info-position {
      display: block; }
.main__resume {
  margin: 0; }
  .main__resume a {
    transition: 0.3s opacity ease; }
  @media (min-width: 1024px) {
    .main__resume {
      margin-left: 110px; } }
  .main__resume:hover a {
    opacity: 0.6; }

/*# sourceMappingURL=style.css.map */