.green: {
	color: green !important;
	background-color: green !important;
}
.red: {
	color: red !important;
	background-color: green !important;
}
.sapMText.green {
	color: green !important;
}
.sapMText.red {
	color: red !important;
}
.sapUiRespGrid {
	height:  10px !important;
}